.container{
    margin-top: 40px;
    padding: 30px;
    font-family: 'Roboto', sans-serif;  
}
.col-lg-9{
    margin-top: 30px;
}
.card-title{
    
        text-align: justify;
        font-size: xx-large;
        text-transform: capitalize;
    
}