.container-fluid{
    margin-top: 30px;
    padding: 30px;
    height: 595px;
    max-width: fit-content;
   text-align: center;
   font-family: 'Roboto', sans-serif;  
  
   
}
ng-container{
    position: fixed;
}
.card{
   margin: 20px;
   width:25rem;
    font-weight: 600;
    text-align: justify;
    text-transform: uppercase;
    background-color: rgba($color: rgb(255,193,7), $alpha: 1);
}

 