.container{
    margin-top: 80px;
    padding: 30px;
    background-color:rgb(245, 242, 236);
    font-family: 'Roboto', sans-serif;  
}
.img-thumbnail{
    height: 150px;
   width: max-content;
}
td{
   width: 30px;
   
   font-size: x-large;
   font-family: auto;
}
a{
    text-decoration: none;
}